COMPOSE_PROJECT_NAME=samplecrm
FRONTEND_PORT=3000
GATEWAY_PORT=4000
IDENTITY_SERVICE_PORT=8001
CRM_RELATIONSHIPS_SERVICE_PORT=8002
DEALS_SERVICE_PORT=8003
IDENTITY_DB_PORT=5433
CRM_DB_PORT=5434
DEALS_DB_PORT=5435
KAFKA_PORT=9092
POSTGRES_USER=crm
POSTGRES_PASSWORD=crm
POSTGRES_DB_IDENTITY=identity_service
POSTGRES_DB_CRM=crm_relationships_service
POSTGRES_DB_DEALS=deals_service

